/* CSS Document */


html {
  position: fixed;
  height: 100%;
  overflow: hidden;
	overflow-x: hidden; -moz-overflow-x: hidden; -webkit-overflow-x: hidden; -ms-overflow-x: hidden; -o-overflow-x: hidden;
}



main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	
}


body {
	font-family: forma-djr-display, sans-serif;
	font-weight: 600;
	font-style: normal;
	background-color: none;
	letter-spacing: 0.3pt;
	 width: 100vw;
  height: 100vh;
	margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;	
}

a {text-decoration: none;
color: black;
font-weight: 500;
font-size: 10pt;
text-align: center;
display: block;
padding-bottom: 7px;}

a:hover{font-weight:600;
cursor: pointer;}

a:selected{font-weight:600;
}


p {font-weight: 400;}
p2 {font-weight: 400;
font-size: 8pt;
line-height: -10pt;
}



#logo{
	position: absolute;
	height: 80px;
	right: 50%;
	bottom: 5vh;
	margin-right: -40px;
	transition: all .5s linear;
		
}

/*.logovideo{margin: auto; height: 10vh;  display: block; padding-top: 5vh}*/

.headline {width: 60%;
padding: 50px;}

.pfeil{
	height: 5vh;
	float: right;
	position: absolute;
	right: 5vw;
	bottom: 8vh;	
}

.pfeil:hover{
	opacity: 0.3;
}

#pfli1, #pfre1, #pfli2, #pfre2, #pfli3, #pfre3, #pfli4, #pfre4{display: none;}

.pfeillinks{ position: absolute;
	height: 5vh;
	right: 70%;
	bottom: 8vh;
}



.pfeilrechts{ position: absolute;
	height: 5vh;
	right: 30%;
	bottom: 8vh;
}


.textspalte {width: 50%;
padding: 50px;
position: relative;
float: right;}

#nohover2:hover{cursor: default;}
#nohover:hover{cursor: default;}

#Btext1, #Ctext1, #Btext2, #Ctext2, #Btext3, #Ctext3, #Btext4, #Ctext4, #Btext5, #Ctext5, #Btext6, #Ctext6 {display: none; max-width: 50vw;}

#Btext2, #Btext4, #Btext5{margin-bottom: -20px;}


.BpocText{ width: 70%;
position: absolute;
bottom:7vh;
right: 0;
margin: 0 10vw 0 0vw;
text-align: center;}



.CopText{ width: 70%;
position: absolute;
bottom:7vh;
left: 0;
margin: 0 0vw 0 10vw;
text-align: center;}




.container img, .container video{
	width: 100%;
	height: 80vh;
	object-fit: cover;
	transition: all .5s linear;
	
}

#bpoc{transition: all .5s linear;}
#cop{transition: all .5s linear;}

.container {
  position: relative;
  text-align: center;
  color: white;
	width: 50%;
	
	display: inline-block;
	float: left;
}


.textonhover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(154,154,154, 0.4)}

.container:hover .overlay {
  opacity: 1;
}



.block{display: block;
}



.button{
border: 1px solid black;
border-radius: 32px;
color: white;
padding: 10px 10px;
min-width: 100px;
text-align: center;
text-decoration: none;
font-size: 12pt;
background-color: black;
display: inline-block;
float: left;
margin-top: 40px;
letter-spacing: 0.5px;
font-weight: 500;
}


.button:hover{
color: black;
background-color: white;
}